<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruyhatdan utish</title>
</head>
<body>
    <form action='register' method="POST">
        {% csrf_token %}

        <input type="text" name='first_name' placeholder="Ismingiz?"><br>
        <input type="text" name='last_name' placeholder="Familyangiz?"><br>
        <input type="text" name='username' placeholder="Foydalanuvchi nomi?"><br>
        <input type="email" name='email' placeholder="Emailingiz"><br>
        <input type="password" name='password1' placeholder="Password?"><br>
        <input type="password" name='password2' placeholder="Password again"><br>
        <input type="submit" >
    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
    
</body>
</html>